modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk", "wget"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Test Data Generation"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Streamlit App"

[[workflows.workflow]]
name = "Streamlit App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Standard Trie Test Cases"
mode = "sequential"
author = 42848745

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python dev_tests/test_cases_stndrd.py"

[[workflows.workflow]]
name = "Compressed Trie Test Cases"
mode = "sequential"
author = 42848745

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python dev_tests/test_cases_cmprsd.py"

[[workflows.workflow]]
name = "Test Data Generation"
mode = "sequential"
author = 42848745

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd dev_tests && python work_load_tests.py"

[[workflows.workflow]]
name = "Work Load Tests"
mode = "sequential"
author = 42848745

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd dev_tests && python work_load_tests.py"

[[ports]]
localPort = 5000
externalPort = 80
